<footer class="footer">
    <p class="footer__title">{{ site.name }}</p>
    <p class="footer__subtitle">Figuring it out...</p>
    <div style="display: block; margin-left: auto; margin-right: auto;">
    <style>
    iframe#impact_ad_iframe {
      width: 300px;
      height: 250px;
    }
    @media only screen and (max-device-width: 500px) {
      iframe#impact_ad_iframe {
        width: 450px;
        height: 375px;
      }
    }
    </style>
    <iframe id="impact_ad_iframe" src="http://ec2-54-153-15-223.us-west-1.compute.amazonaws.com/300x250?host_id=1" frameborder="0"></iframe>
  </div>
</footer>
