// @name Header
// @description All header styles

$dark-blue: #3A4A57;
$light-blue: #56AFF2;

header {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.intro {
    margin-bottom: ($spacer * 2);

    &__pre, &__post {
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__main {
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: bold;
        margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 2.2rem;
            max-width: 60%;
        }
    }
}

.social {
    a {
        margin-right: $spacer;
    }
}

.menu {
    border: solid 2px #fff;
    padding: 20px;
    margin-bottom: 40px;
    @media(min-width: 640px) {
        max-width: 60%;
    }
    li {
        margin-top: 5px
    } 
}

header {
    background-color: $light-blue;
    color: white;
     @media(min-width: 640px) {
        background-color: $dark-blue;
    }
}

ul.menu li a {
    color: white;
    transition: all linear .2s;
}

.social a {
    color: white;
}
