// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }

    .education {
        dt, dd {
            width: 50%;
        }
    }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

p > a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}

.period {
    font-size: 0.75em;
}

.technologyUsed {
    font-size: 0.75em;
    background-color: $dark-blue;
    color: #fff;
    padding: 3px 2px 3px 5px;
    border-radius: 3px;
}

.coding-sub {
    font-size: 0.75em;
}

.imgContainer {
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
}

li.projectImgList {
    display: inline-block;
}