$body-color: #fff;
$banner-color: #5d9da2;
$link-color: #db6356;
$writing-color: #000;

$body-primary: $body-color;

$link-primary: $link-color;
$link-hover: $banner-color;

$nav-primary: $banner-color;
$nav-background: $body-color;
$nav-hover: $banner-color;
$nav-active: $banner-color;
$nav-hover-text: #fff;
$nav-line: $banner-color;

$p-primary: $writing-color;

$header-primary: $banner-color;

$banner-primary: #fff;
$banner-secondary: #fff;
$banner-background: $banner-color;
$banner-border: $link-color;

$maps-primary: $link-hover;


// Color palettes 

// #568d72
// #f3e48f
// #8d4645
// #db6356
// #8d4645

// #49361f
// #836837
// #fa6829
// #d7d1ca
// #b8c000

// #2b2300
// #e2d98f
// #a79f62
// #71afb7
// #5d9da2