@import url(http://fonts.googleapis.com/css?family=Comfortaa|Nunito|Open+Sans:400,300|Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);


$font-banner-primary: 'Comfortaa', serif;
$font-banner-secondary: 'Comfortaa', serif;
$font-nav-primary: 'Open Sans', sans-serif;
$font-header-primary: 'Roboto', sans-serif;
$font-body-primary: 'Open Sans', sans-serif;
$font-montserrat: 'Roboto', sans-serif;