@import url(http://fonts.googleapis.com/css?family=Comfortaa|Nunito|Open+Sans:400,300|Montserrat:700);

$font-banner-primary: 'Comfortaa', serif;
$font-banner-secondary: 'Comfortaa', serif;
$font-nav-primary: 'Open Sans', sans-serif;
$font-header-primary: 'Nunito', sans-serif;
$font-body-primary: 'Open Sans', sans-serif;