---
layout: default
navigation:
  - text: Home
    url: /
  - text: Blog
    url: /blog/
  - text: Writing Samples
    url: /writing/
  - text: Work
    url: /work/
  - text: About
    url: /about/
  - text: View Resume
    url: /resume/
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

</article>